## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [3]:
import pandas as pd
import numpy as np

In [4]:
basic_people = 10000000
countries = []
for a in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
    countries.append(a)
people = (np.random.rand(len(countries)) * basic_people).astype(int)

In [6]:
data = {'國家': countries,
        '人口': people}
data = pd.DataFrame(data)
data

         人口 國家
0    454835  A
1   3171470  B
2   7656603  C
3   2161778  D
4   4197684  E
5   1589644  F
6   5768514  G
7   8013863  H
8   4254991  I
9   3949359  J
10  1613855  K
11   518262  L
12  1779629  M
13  2696284  N
14   310202  O
15  3349229  P
16  1384123  Q
17  8772377  R
18  4486208  S
19  4529091  T
20  9917325  U
21  2179441  V
22  3340179  W
23  5184849  X
24  8734300  Y
25  9458324  Z

In [7]:
data.max()

人口    9917325
國家          Z
dtype: object